@charset "UTF-8";

* {
    line-height: 1.5em;
    margin: 0%;
    padding: 0%;
}

body p, h1, h2 {
    padding: 10px;
}



.flex {
    background-color: aqua;
}

article {
    display: flex;
    padding: 5px;
    text-align: justify;
}

.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.text {
    flex: 1 1 500px;
}

.media {
    flex: 1 0 400px;
}

div {
    padding: 10px;
}

img {
    width: 350px;
    display: block;
    margin: auto;
}

iframe {
    display: block;
    margin: auto;
    width: 90vw;
}



