@charset "UTF-8";

* {
    line-height: 1.5em;
}

.flex {
    background-color: aqua;
}

article {
    display: flex;
    padding: 5px;
    text-align: justify;
}

.media-text {
    flex-flow: column wrap;
}

.media-text > .media {
    order: -1;
}

div {
    padding: 10px;
}

img {
    width: 250px;
}



